.grid-container {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  gird-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  background-color: none;
  padding: 12px;
  transform: rotate(45deg);
}

.grid-item {
  display: grid;
  align-self: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 23vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0;
  background-color: #e1ded7;
  text-align: center;
  font-size: 0px;
  color: #e1ded7;
}

.grid-item-text {
  display: block;
  z-index: -10;
  transform:rotate(-90deg) translateY(7em) translateX(.5em);
  text-align: left;
  margin: 0px;
  width: 18vw;
  height: 24vw;
  background-color: #a8a5ae;
  font-size: 1.8vw;
  font-weight:600;
  font-family:sans-serif;
}

.grid-item-text2 {
  display: block;
  z-index: -10;
  transform:rotate(-90deg) translateY(3em) translateX(0.5em);
  text-align: left;
  margin: 0px;
  width: 18vw;
  height: 24vw;
  background-color: #a8a5ae;
  font-size: 1.8vw;
  font-weight: 600;
  font-family:sans-serif;
}

span {
  display: block;
  transform: translateX(-6.5em);
  position:absolute;
}

.footing {
  display: block;
  transform:translateY(8em) translateX(50em);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0.5vw;
  font-family:sans-serif;
}

.item1 {
  width:2.5vw;
  height:2.5vw;
  grid-column-start: 12;
  grid-row-start: 3;
  background-color: #214db8;
  animation: blink 5s ease-in both 1s infinite;
}
.item2 {
  width:2.5vw;
  height: 2.5vw;
  grid-column-start: 12;
  grid-row-start: 1;
  background-color: #a82c2a;
  font-size: 12px;
  animation: blink 10s ease-in both 1s infinite;
}
.item3 {
  width:2.5vw;
  height: 2.5vw;
  grid-column-start: 12;
  grid-row-start: 2;
  background-color: #e9b636;
  font-size: 12px;
  animation: blink 21s ease-in both infinite;
}
.item4 {
  width:2.5vw;
  height: 2.5vw;
  grid-column-start: 6;
  grid-row-start: 11;
  background-color: #a82c2a;
  font-size: 12px;
  animation: blink 7s ease-in both infinite;
}
.item5 {
  width:2.5vw;
  height: 2.5vw;
  grid-column-start: 12;
  grid-row-start: 8;
  background-color: black;
  font-size: 12px;
  animation: blink 6s ease-in both infinite;
}
.item6 {
  width:2.5vw;
  height: 2.5vw;
  grid-column-start: 6;
  grid-row-start: 5;
  background-color: #e9b636;
  font-size: 12px;
  animation: blink 8s ease-in both infinite;
}
.item7 {
  width:2.vw;
  height: 2.5vw;
  grid-column-start: 6;
  grid-row-start: 6;
  background-color: #214db8;
  animation: blink 9s ease-in both infinite;
}
.item8 {
  width:2.5vw;
  height: 2.5vw;
  grid-column-start: 2;
  grid-row-start: 10;
  background-color: #a82c2a;
  animation: blink 12s ease-in both infinite;
}
.item9 {
  width:2.5vw;
  height:2.5vw;
  grid-column-start: 6;
  grid-row-start: 1;
  background-color: black;
  animation: blink 11s ease-in both infinite;
}
.item10 {
  width:2.5vw;
  height:2.5vw;
  grid-column-start: 12;
  grid-row-start: 7;
  background-color: #e9b636;
  animation: blink 6s ease-in both infinite;
}
.item11 {
  width:2.5vw;
  height:2.5vw;
  grid-column-start: 12;
  grid-row-start: 1;
  background-color: #214db8;
  animation: blink 3s ease-in both .5s infinite;
}
.item12 {
  width:2.5vw;
  height:2.5vw;
  grid-column-start: 12;
  grid-row-start: 2;
  background-color: #a82c2a;
  animation: blink 10s ease-in both infinite;
}
.item13 {
  width:2.5vw;
  height:2.5vw;
  grid-column-start: 12;
  grid-row-start: 7;
  background-color: black;
  animation: blink 8s ease-in both infinite;
}
.item14 {
  width:2.5vw;
  height:2.5vw;
  grid-column-start: 2;
  grid-row-start: 5;
  background-color:#e9b636;
  animation: blink 4s ease-in both infinite;
}
.item15 {
  width:2.5vw;
  height:2.5vw;
  grid-column-start: 2;
  grid-row-start: 6;
  background-color: #214db8;
  animation: blink 8s ease-in both infinite;
}
.item16 {
  width:2.5vw;
  height:2.5vw;
  grid-column-start: 2;
  grid-row-start: 1;
  background-color: black;
  animation: blink 3s ease-in both infinite;
}

@keyframes blink {
  0% {
	Opacity: 1;
	}
  25% {
	Opacity: 0;
	}
  50% {
	Opacity: 1;
	}
  75% {
	Opacity: 0;
	}
  100% {
	Opacity: 1;
	}
}

html {
  bottom:0;
  overflow-x: hidden;
  background-color: #a8a5ae;

}
